# Virtual environments
venv/
env/
.venv/
.env/
.env

# Python cache
__pycache__/
*.py[cod]
*.egg-info/

# VSCode or JetBrains IDE settings (optional)
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db


.env
.env.*